body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4728b8;
    color: #ffff;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main-container {
    display: flex;
    width: 100%;
}

#calendar {
    width: 70%;
    padding: 20px;
}

#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#calendar-header button {
    background-color: #3a3a3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#calendar-title {
    margin: 0 10px;
}

#tasks {
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #2c2c2e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#calendar-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#calendar-view .header {
    background-color: #4728b8;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.day {
    background-color: #222;
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.day-number {
    margin-bottom: 5px;
}

.dots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-dot {
    width: 8px;
    height: 8px;
    background-color: #0dc968;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.selected {
    background-color: #171717;
    border-color: #4728b8;
}

.form_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_label {
    margin-top: 10px;
}

.form_input, .form_button  {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
}

.form_input {
    background-color: #222;
    color: #ffff;
    border: 1px solid rgb(105, 105, 105);
}

.form_button {
    margin-top: 1em;
    background-color: #4728b8;
    color: #ffff;
    cursor: pointer;
    font-size: 1.2em;
}

.form_button:hover {
    background-color: #5c36e4;
}

.tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-team-button {
    background-color: #4728b8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #3a3a3c;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invertir los colores */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
    padding-top: 60px;
}

.modal-content {
    background-color: #2c2c2e;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border: none;
    width: 20%;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.btn_edit{
    background-color: #0dc968;
}

.btn_delete{
    background-color: #ff0000;
}

.btn_edit:hover{
    background-color: #42e892;
}

.btn_delete:hover{
    background-color: #fe6161;
}

.svg_icon{
    width: 5%;
}

.svg{
width: 13px;
fill: white;
}

.icon_button{
    width: 17px;
    filter: brightness(0) invert(1) grayscale(1);
}